<div class="event flex-col" id="event">
  <h1 id="event-fade">Events</h1>
  <div class="top-events flex-row" id="top-events">
    <% for (var i = 0; i < 3; i++ ) { %>
    <div class="single-event flex-col">
      <div class="event-title">
        <h3><%= data.events[i].type%></h3>
      </div>
      <img src="<%= data.events[i].profileImage %>" />
      <div class="single-event-content flex-col">
        <h3><%= data.events[i].name %></h3>
        <div class="flex-row events-icons">
          <i class="uil uil-location-point"></i>
          <h5 style="font-size: 14px"><%= data.events[i].location %></h5>
        </div>
        <div class="flex-row events-icons">
          <i class="uil uil-calendar-alt"></i>
          <h5 style="font-size: 14px"><%= data.events[i].date %></h5>
        </div>
        <h5><%= data.events[i].description[0].substring(0, 220) %>..</h5>
        <a href="/event/<%= data.events[i].id %>" target="_blank">
          <button>Read More</button>
        </a>
      </div>
    </div>
    <% } %>
  </div>
  <div class="top-events flex-row" id="events"></div>
  <div class="more-info-event flex-row" id="more-info-event"></div>
  <div id="button"></div>
</div>
