<!DOCTYPE html>
<html lang="en">
    <%- include('./components/Header') %>
  <body>
    <%- include('./components/Home') %> 
    <%- include('./components/About') %> 
    <%- include('./components/Event') %> 
    <%- include('./components/Team') %>
    <%- include('./components/Testimonial') %> 
    <%- include('./components/Contact') %>
  </body>
</html>
