<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/Header') %>
    <title>UI Visuals</title>
  </head>
  <body>
    <%- include('./components/Home') %> <%- include('./components/About') %> <%-
    include('./components/Event') %> <%- include('./components/Team') %> <%-
    include('./components/Testimonial') %> <%- include('./components/Contact')
    %>
  </body>
</html>
